<h1>Privacy Policy</h1>

<li><b>Data Collection:</b> We don't.</li>
<li><b>Data Storage:</b> What data?</li>
<li><b>Data Sharing:</b> Impossible. We have nothing to share.</li>
<li><b>Cookies:</b> Only the edible kind.</li>
<li><b>Tracking:</b> Only our own coffee consumption.</li>
